@font-face {
    font-family: 'glyphicons';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
         url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
         url('../fonts/glyphicons-halflings-regular.svg#ubuntulight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

body, html {
	height: 100%;
	width: 100%;
}

body {
    position: relative;
}

body, h1, h2, h3, h4, h5, h6 {
    /*font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*font-weight: 700;*/
}

h1{
    color: #333;
}
h2{
    color: #0081C3;
}
h3{
    color: #0081C3;
}
h4{
    /*color: #333;*/
}
h4.panel-title{
    font-size: 18px;
}

h5{
    color: #333;
}
h6{
    color: #9EC4D9;
}

@media screen and (max-width: 768px){
    h2{
        /*font-size: 25px;*/
    }
}

.lead {
	font-size: 18px;
	font-weight: 400;
}

.intro-header {
	padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 50px;
	background: url(../images/desk.jpg) no-repeat center center;
    /*background: url(../images/desk-orange.jpg) no-repeat center center;*/
	background-size: cover;
	text-align: center;
}

.intro-message {
	position: relative;
    padding-top: 15%;
    padding-bottom: 15%;
}

.intro-message > *{
    color: #f8f8f8;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-message > h1 {
	margin: 0;
	font-size: 5em;
}

.intro-divider {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {
	.intro-message > h1 {
		font-size: 3em;
	}

	.intro-divider {
		width: 100%;
	}
}

.network-name {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
}

.content-section-a {
	background-color: #f8f8f8;
	padding: 50px 0;
}

.content-section-b {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 50px 0;
}

.section-heading {
	margin-bottom: 30px;
	text-align: center;
}

.subsection-heading {
    margin: 45px 0 20px;
    text-align: center;
}

.section-heading-spacer {
	border-top: 3px solid #e7e7e7;
	width: 200px;
	float: left;
}

.banner {
	padding: 100px 0;
	color: #f8f8f8;
	/*background: url(../img/banner-bg.jpg) no-repeat center center;*/
	background-size: cover;
}

.banner h2 {
	margin: 0;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	font-size: 3em;
}

.banner ul {
	margin-bottom: 0;
}

.banner-social-buttons {
	float: right;
	margin-top: 0;
}

@media (max-width: 1199px) {
	ul.banner-social-buttons {
		float: left;
		margin-top: 15px;
	}	
}

@media (max-width: 767px) {
	.banner h2 {
		margin: 0;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
		font-size: 3em;
	}

	ul.banner-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.banner-social-buttons > li:last-child {
		margin-bottom: 0;
	}	
}

footer {
	background-color: #f8f8f8;
	padding: 50px 0;
}

p.copyright {
	margin: 15px 0 0;
}

/* Half Page Height Carousel Customization */
.carousel {
  height: 50%;
}

.item,
.active,
.carousel-inner {
  height: 100%;
}

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}


/* Timeline */
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    /*background-color: #eeeeee;*/
    /*background-color: #FFC080;*/
    background-color: #0081C3;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

@-webkit-keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

.timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    cursor: pointer;
    background-color: #fff;


    /*-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-name: hover;
    animation-name: hover;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;*/
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline-badge {
    /*color: #fff;*/
    color: #0081C3;
    width: 50px;
    height: 50px;
    line-height: 50px;
    /*font-size: 1.4em;*/
    font-size: 20px;
    text-align: center;
    top: 16px;
    left: 50%;
    /*margin-left: -25px;*/
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li > .timeline-badge {
    /*color: #fff;*/
    color: #0081C3;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.success {
    /*background-color: #3f903f !important;*/
    background-color: #f8f8f8 !important;
}

.timeline-badge.info {
    /*background-color: #5bc0de !important;*/
    background-color: #f8f8f8 !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
    font-size: 21px;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}

/* Skills */

.skill-panel{
    display: inline-block;
    padding-right: 20px;
    width: 48%;
}

.skill-label{
    width: 40%;
    float: left;
}

@media (max-width: 767px) {
    .skill-panel{
        width: 100%;
        padding-right: 0;
    }
    .skill-label{
        padding-right: 20px;
    }
}


.skill-content{
    width: 50%;
    vertical-align: middle;
    float: left;
}

.progress-bar-info{
    background-color: #9EC4D9;
}


/* Flexbox */
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.main {
  text-align: left;
  background: deepskyblue;
}

.aside-1 {
  background: gold;
}

.aside-2 {
  background: hotpink;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
}


.wrap{
    position: relative;
}

.bar {
    float:left;
    padding: 20px 30px;
    margin: 0 1px;
    border: 1px solid black;
}

.softbar1, .softbar1:before {
    width:32%;
}
.softbar1:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 0;
    border: 1px solid black;
    margin: 0 10px;
}

.softbar2, .softbar2:before {
    width:32%;
}
.softbar2:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 33%;
    border: 1px solid black;
    margin: 0 10px;
}

.softbar3, .softbar3:before {
    width:32%;
}
.softbar3:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 66%;
    border: 1px solid black;
    margin: 0 10px;
}

/* Projects */
.project-view{
    /*display: inline-block;*/
    vertical-align: top;
}

/* xs */
@media screen and (max-width: 767px){
    .project-view{
        /*width: 48%;*/
        /*margin: 0 auto;*/
    }

    .project-thumb {
        /*width: 230px;*/
    }
}

/* sm */
@media screen and (min-width: 768px){
    .project-thumb {
        /*width: 230px;*/
    }

    .project-view{
        /*width: 32.5%;*/
        /*margin: 0 auto;*/
    }
}

/* md */
@media screen and (min-width: 992px){
    .project-thumb {
        /*width: 225px;*/
    }

    .project-view{
        /*width: 24%;*/
        /*margin: 0 auto;*/
    }
}

/* lg */
@media screen and (min-width: 1200px){
    .project-thumb {
        /*width: 280px;*/
    }
    .project-view{
        /*width: 24%;*/
        /*margin: 0 auto;*/
    }
}

.project-thumb{
    margin-top: 20px;
    margin-bottom: 0px;
}

.disclaimer{
    color: #428bca;
    cursor: pointer;
}

.project-desc{
    padding: 9px; 
    color: #333; 
    text-align: center
}

.modal-preview-pic{
    width: 200px;
    height: 200px;
    float: right;
    margin: 0 0 5px 5px;
}

@media screen and (max-width: 767px){
    .modal-preview-pic{
        /*width: 200px;
        height: 200px;*/
        float: none;
        margin: 5px auto;
        display: block;
    }

    .portfolio-modal{
        /*text-align: center*/
    }

    .portfolio-modal ul{
        /*list-style-position:inside;*/
    }
}

ul{
     -webkit-padding-start: 20px;
}

@media screen and (max-width: 767px){
    .soft-wrapper {
        /*padding-right: 15px;
        padding-left: 15px; 
        margin-right: auto; 
        margin-left: auto;*/
    }
}

.social-btn{   
    border-radius: 50%;
    padding: 10px;
}

.btn-default{
    color: #0081C3;
}

.modal-history-pic{
    /*width: 200px;
    height: 200px;*/
    float: left;
    margin: 0 0 5px 5px;
    max-height: 54px;
}

.modal-history-label{
    float: right;
}

.modal-history-label > h3{
    margin-top: 0;
}

@media screen and (max-width: 767px){
    .modal-history-pic{
        float: none;
        margin: 5px auto 15px;
        /*margin: 15px auto 5px;*/
        display: block;
    }

    .modal-history-label{
        text-align: center;
        float: none;
    }
}

/*a[data-toggle="collapse"] > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}*/

.navbar-toggle{
    min-width: 40px;
    min-height: 40px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a{
    /*color: #333;*/
    color: #eeeeee;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus{
    /*color: #ED8318;*/
    color: #0081C3;
    /*background-color: #333;*/
    background-color: #f8f8f8;
}

.navbar-default .navbar-toggle .icon-bar{
    /*background-color: #333;*/
    /*background-color: #0081C3;*/
    background-color: #f8f8f8;
}

.blacken{
    color: #333;
}

.phone-button{
    width: 40px;
    color: #f8f8f8;
}

.menu-button{
    height: 40px;
}

.carousel-indicators li{
    border-color: #428bca;
    /*border-width: 3px;*/
}

.carousel-indicators .active{
    background-color: #428bca;
}

.item-achievement{
    height: 250px; 
    width: 70%; 
    margin: 0 auto; 
    padding-top: 40px;
}

.item-achievement-pic{
    max-width: 170px;
    max-height: 67px;
    float: right;
    margin: 0 0 15px 15px;
}

@media screen and (max-width: 767px){
    .item-achievement-pic{
        float: none;
        margin: 10px 0;
    }

    .item-achievement{
        padding: 0;
        height: 300px;
    }
}

.carousel-control.right, .carousel-control.left{
    background-image: none;
}

.icon-next, .icon-prev{
    color: #428bca;
}

/* Gallery/Carousel */
.carousel-control .fa-chevron-circle-left,
.carousel-control .fa-chevron-circle-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  color: #428bca;
}
.carousel-control .fa-chevron-circle-left {
  left: 50%;
}
.carousel-control .fa-chevron-circle-right {
  right: 50%;
}
.carousel-control .fa-chevron-circle-left,
.carousel-control .fa-chevron-circle-right {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
}

@media screen and (min-width: 768px) {
  .carousel-control .fa-chevron-circle-left,
  .carousel-control .fa-chevron-circle-right {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px;
  }
}

a[data-toggle="collapse"]{
  text-decoration: none;
}

a[data-toggle="collapse"]:not(.collapsed) > .panel-heading{
/*  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;*/
  /*border-bottom: 1px solid #ddd;*/
  /*background-color: #E2DFDF;*/
}

a[data-toggle="collapse"] > .panel-heading:hover{
  background-color: #E2DFDF;
  cursor: pointer;
}

.pillar-wrapper{
    display: none;
}

.footer-section{
    padding: 30px 0 50px;
}

@media screen and (max-width: 768px) {
    .footer-section{
        /*padding: 50px 0 50px;*/
    }
}

.history-section{
    padding: 50px 0;
}

.description{
    color: #9E9191;
}

.contact-btn{
    font-size: 16px;
}

#demoModal{
    display: block;
    margin-bottom: 0px;
    margin-left: 5000px;
}

@media screen and (max-width: 768px) {
    #demoModal{
        margin-left: 0px;
        margin-bottom: 2000px;
    }
}

.pillar-wrapper .panel-heading{
    background-color: transparent;
    color: #0081C3;
}

.thumb-reviews{
    vertical-align: top;
    padding: 0 20px;
}