@font-face {
    font-family: 'glyphicons';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
         url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
         url('../fonts/glyphicons-halflings-regular.svg#ubuntulight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, html {
	height: 100%;
	width: 100%;
}
body {
    position: relative;
    font-size: 13px;
}
body, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1{
    color: #333;
}
h2, h3{
    color: #0081C3;
}
h6{
    color: #9EC4D9;
}
ul{
    padding-left: 20px;
}

.section-heading {
    margin-bottom: 30px;
    text-align: center;
}
.subsection-heading {
    margin: 45px 0 20px;
    text-align: center;
}
.lead {
	font-size: 18px;
	font-weight: 400;
}
.description{
    color: #9E9191;
}

.btn-default{
    color: #0081C3;
}

.btn:active,
.btn.is-checked {
  background-color: #0081C3;
}
.btn.is-checked {
  color: #F8F8F8;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}


/* Navbar */
.main-navbar{
    background-color: #0081C3; 
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

.navbar-toggle{
    min-width: 40px;
    min-height: 40px;
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a{
    color: #eeeeee;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus{
    color: #0081C3;
    background-color: #f8f8f8;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: #f8f8f8;
}

.phone-button{
    width: 40px;
    color: #f8f8f8;
}
.menu-button{
    height: 40px;
}


/* Intro */
.intro-header {
	padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 50px;
	background: url(../images/desk.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
}

.intro-message {
	position: relative;
    padding-top: 15%;
    padding-bottom: 15%;
}
.intro-message > *{
    color: #f8f8f8;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.intro-message > h1 {
	margin: 0;
	font-size: 5em;
}

@media (max-width: 767px) {
	.intro-message > h1 {
		font-size: 3em;
	}
}





/* Projects */
.projects-section {
    background-color: #f8f8f8;
    padding: 50px 0;
}

.project-view{
    vertical-align: top;
}

.project-thumb{
    margin-top: 20px;
    margin-bottom: 0px;
}

.project-desc{
    padding: 9px; 
    color: #333; 
    text-align: center
}

.disclaimer{
    color: #428bca;
    cursor: pointer;
}


.modal-preview-pic{
    width: 200px;
    height: 200px;
    float: right;
    margin: 0 0 5px 5px;
}
@media screen and (max-width: 767px){
    .modal-preview-pic{
        float: none;
        margin: 5px auto;
        display: block;
    }
}



/* Timeline */
.timeline-section{
    background-color: #E2DFDF;
    padding: 50px 0;
}

.timeline-heading-container{
    margin-bottom: 30px;
}
.timeline-heading-badge{
    display: inline-block; 
    margin-right: 10px;
}
.timeline-heading-label{
    display: inline-block; 
    vertical-align: sub;
}

.timeline-heading-container.visible-xs-block > div{
    display: inline-block;
}
.timeline-heading-container.visible-xs-block > div:first-of-type{
    padding-right: 50px;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #0081C3;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    cursor: pointer;
    background-color: #fff;
}

.timeline > li > .timeline-panel:hover{
    background-color: #E2DFDF;
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline-badge {
    color: #0081C3;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    top: 16px;
    left: 50%;
    background-color: #f8f8f8;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li > .timeline-badge {
    color: #0081C3;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #f8f8f8;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
    font-size: 21px;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

.timeline-link, .timeline-link:hover{
     text-decoration: none; 
     font-size: 18px;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}


/* Skills */
.skills-section {
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    padding: 50px 0;
}

.skill-panel{
    display: inline-block;
    padding-right: 20px;
    width: 48%;
}

.skill-label{
    width: 40%;
    float: left;
}

@media screen and (max-width: 767px) {
    .skill-panel{
        width: 100%;
        padding-right: 0;
    }
    .skill-label{
        padding-right: 20px;
    }
}

.skill-content{
    width: 50%;
    vertical-align: middle;
    float: left;
}

.progress-bar-info{
    background-color: #9EC4D9;
}

a[data-toggle="collapse"]{
  text-decoration: none;
}

a[data-toggle="collapse"] > .panel-heading:hover{
  background-color: #E2DFDF;
  cursor: pointer;
}

.panel-title{
    font-size: 18px;
}
@media screen and (max-width: 768px){
    .panel-title{
        font-size: 15px;
    }
}

@media screen and (max-width: 767px){
    .soft-wrapper {
        /*padding-right: 15px;
        padding-left: 15px; 
        margin-right: auto; 
        margin-left: auto;*/
    }
}

.cv-btn{
     white-space: normal;
}


/* Footer */
.contact-section{
    padding: 30px 0 50px;
    background-color: #9EC4D9;
}
.contact-btn{
    font-size: 16px;
}
.social-btn{   
    border-radius: 50%;
    padding: 10px;
}



/* Timeline Modals */
.modal-history-pic{
    float: left;
    margin: 0 0 5px 5px;
    max-height: 54px;
}

.modal-history-label{
    float: right;
}

.modal-history-label > h3{
    margin-top: 0;
}

@media screen and (max-width: 767px){
    .modal-history-pic{
        float: none;
        margin: 5px auto 15px;
        display: block;
    }

    .modal-history-label{
        text-align: center;
        float: none;
    }
}


.carousel {
  height: 50%;
}
.item,
.active,
.carousel-inner {
  height: 100%;
}

.carousel-control.right, .carousel-control.left{
    background-image: none;
}
.carousel-control .fa-chevron-circle-left,
.carousel-control .fa-chevron-circle-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  color: #428bca;
}
.carousel-control .fa-chevron-circle-left {
  left: 50%;
}
.carousel-control .fa-chevron-circle-right {
  right: 50%;
}
.carousel-control .fa-chevron-circle-left,
.carousel-control .fa-chevron-circle-right {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
}

@media screen and (min-width: 768px) {
  .carousel-control .fa-chevron-circle-left,
  .carousel-control .fa-chevron-circle-right {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px;
  }
}

.carousel-indicators li{
    border-color: #428bca;
}

.carousel-indicators .active{
    background-color: #428bca;
}

.item-achievement{
    height: 250px; 
    width: 70%; 
    margin: 0 auto; 
    padding-top: 40px;
}

.item-achievement-pic{
    max-width: 170px;
    max-height: 67px;
    float: right;
    margin: 0 0 15px 15px;
}

@media screen and (max-width: 767px){
    .item-achievement-pic{
        float: none;
        margin: 10px 0;
    }

    .item-achievement{
        padding: 0;
        height: 300px;
    }
}

.item-course{
    vertical-align: top;
}






/* My Works Modals */

/* Google Maps Demo */
#mapModal{
    display: block;
    margin-bottom: 0px;
    margin-left: 5000px;
}

@media screen and (max-width: 768px) {
    #mapModal{
        margin-left: 0px;
        margin-bottom: 2000px;
    }
}

#map-canvas{
     width:100%; 
     min-width: 218px;
     height:300px; 
}

/* Brand Pillars Demo */
.pillar-wrapper{
    display: none;
}

.pillar-wrapper .panel-heading{
    background-color: transparent;
    color: #0081C3;
}

.pillar-column{
    height: 200px;
}

.pillar-btn{
    margin-bottom: 10px;
}

/* My Favourites Demo */
.thumb-container{
    margin-top: 20px;
}

.thumb-review{
    vertical-align: top;
    padding: 0 20px;
    text-align: center;
    max-width: 140px;
}
.thumb-review > a:hover{
    text-decoration: none;
}

.review-img{
    border: 1px solid #DDD;
    border-radius: 4px;
}
